body{
    background-color: white;
}
#title{
    position: absolute;
    top:0%;
    left:0%;
    right:0%;
    bottom: 85%;
    border: 10px double black;
    font-size: 200%;
    background-color: red;
}

#subject {
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, 50%);
    text-align: center;
}

#score {
    position: absolute;
    right: 3%;
    bottom: 35%;
    transform: translate(20%, 20%);
    text-align: center;
}
#ButtonH{
    position: absolute;
    text-align: center;
    font-size: 50px;
    left:0;
    right:0;
    bottom:50%;
    top:0%;
    background-color: red;
    transition: ease-in .25s;
    color: black;
}
#ButtonL{
    position: absolute;
    text-align: center;
    font-size: 50px;
    left:0;
    right:0;
    bottom:0%;
    top:50%;
    background-color: white;   
    transition: ease-in .25s;
    color: black;
}
#ButtonHChoice{
    position: absolute;
    text-align: center;
    font-size: 50px;
    left:0;
    right:0;
    bottom:50%;
    top:0%;
    background: repeating-radial-gradient(red,red,red,red,red,black);
    transition: ease-in .25s;
}
#ButtonLChoice{
    position: absolute;
    text-align: center;
    font-size: 50px;
    left:0;
    right:0;
    bottom:0%;
    top:50%;
    background: repeating-radial-gradient(white,white,white,white,white,black);  
    transition: ease-in .25s;
}
#ButtonH:hover{
    background-color: rgb(210, 0, 0);
    transition: ease-in .25s;
}
#ButtonL:hover{
    background-color: rgb(210,210,210);
    transition: ease-in .25s;
}

#box{
    position: absolute;
    bottom:0%;
    top:60%;
    left:0;
    right:0;
    padding:40px;

}
#next_css{
    position: absolute;
    bottom:40%;
    top:55%;
    left:40%;
    right:40%;
    background-color: black;
    color: white;
    transition: ease-in .25s;
}
#next_css:hover{
    background-color:rgb(50,50,50);
    transition: ease-in .25s;
}
#pokemon_current{
    position: absolute;
    text-align: center;
    top:33%;
    bottom:47%;
    left:15%;
    right:70%;
    font-size: 20px;
    transform: scale(150%) translate(0%, 0%);
}
#pokemon_opponent{
    position: absolute;
    text-align: center;
    top:33%;
    bottom:47%;
    right:20%;
    left:80%;
    font-size: 20px;
    transform: scale(150%) translate(0%, 0%);
}
#vs{
    position: absolute;
    top:33%;
    left:45%;
    right:50%;
    max-width:20%;
    max-height:20%;
}
#lose{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-image: linear-gradient(180deg,red,red,red,black,white,white,white);
    font-size: 90px;
    color: rgb(200,200,200);
}
#lose_message{
    position: absolute;
    top:35%;
    text-align: center;
    left:0%;
    right:0%;
}